/* Normal Text Stuff */

h2 {
  font-size: 145%;
  font-family: "Happy Monkey";
  color: #4caf50;
  text-align: center;
}

body {
  background-color: #2c2f33;
  visibility: hidden;
  overflow-x: hidden;
}

h3, h4 {
  color: #7289da;
  font-family: "Baloo Tamma 2";
  font-size: 190%;
  text-indent: 3px;
}

h4 {
  font-size: 150%;
}

hr {
  border-color: #47D14D;
  background-color: #2bcfff;
  height: 5px;
  border-width: 3.5px;
}

a {
  transition-duration: 0.4s;
  color: #7289da;
}

a:hover {
  color: #4caf50;
  cursor: pointer;
}

p {
  color: orange;
  font-family: "Comfortaa";
  text-indent: 10px;
}

i {
  color: yellow;
}

/* Custom Global Page Classes (Buttons, Emoji, Footer) */

.nocenter {
  text-align: left;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.custom-br {
  display: block;
  content: '';
}

.button {
  text-decoration: none;
  padding: 1px 6px;
  background-color: #2c2f33;
  color: orange;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  border-radius: 8px;
  font-family: "Montserrat";
  outline: none;
}

.button:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.sbutton {
  text-decoration: none;
  padding: 1px 6px;
  background-color: #2c2f33;
  color: orange;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #7289da;
  border-radius: 8px;
  font-family: "Montserrat";
  outline: none;
}

.sbutton:hover {
  background-color: orange;
  color: black;
  border: 2px solid #4caf50;
  cursor: pointer;
}

.emoji {
  display: inline;
  width: 35px;
  height: 35px;
  vertical-align: -10px;
}

.cemoji {
  display: inline;
  width: 10px;
  height: 10px;
}

.bottom, .bottom2 {
  /* position: absolute; */
  position: block;
  bottom: 5px;
  width: 100%;
  height: 20px;
  background-color: #23272A;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Baloo Tamma 2";
}

.bottom2 {
  height: 50px;
  display: none;
}

.buttondiv {
  text-align: center;
}

.divtext {
  position: relative;
  bottom: 40px;
  color: orange;
  font-family: "Comfortaa";
  left: 12px;
}


/* Header + Avatar */

.header-masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.header-masthead > img {
  border: 4px solid #4caf50;
  border-radius: 100%;
  max-width: 150px;
  max-height: 150px;
  left: 30%;
}

.header-masthead > span {
  margin-left: 1rem;
  font-family: "Londrina Shadow";
  font-size: 370%;
  color: #00aeff;
}

header > hr {
  margin-bottom: 2rem;
}

/* Media Tags - Mobile Optomization */

@media (max-width: 599px) {
  .header-masthead {
    position: relative;
    font-size: 70%;
    left: 3%;
}
  .header-masthead > img {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #4caf50;
    left: 2%;
  }
  .bottom {
    display: none;
  }
  .bottom2 {
    display: block;
  }
}

@media (min-width: 600px) {
  .header-masthead {
    position: relative;
    font-size: 80%;
    left: 7%;
  }
  .header-masthead > img {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #4caf50;
    left: 1%;
  }
}

@media (min-width: 900px) {
  .header-masthead {
    position: relative;
    font-size: 100%;
    left: 0.5%;
  }
  .header-masthead > img {
    position: relative;
    left: 0%;
    width: 150px;
    height: 150px;
    border: 4px solid #4caf50;
  }
  .bottom {
    display: block;
  }
  .bottom2 {
    display: none;
  }
}

/* Project Section */

.project {
  font-family: "Comfortaa";
  display: flex;
  flex-direction: row;
}

.project-description {
  display: flex;
  align-items: center;
}

.project-description {
  padding: 1em;
}

.project-description > span {
  color: orange;
}

.project-image > a > picture > img {
  width: 100px;
  height: 100px;
  border: 2px solid #4caf50;
  border-radius: 100%;
  transition-duration: 0.4s;
}

.project-image:hover > a > picture > img {
  background-color: #4caf50;
  border: 2px solid orange;
}

/* Color Classes */

.center {
  text-align: center;
}

.blue {
  color: #00aeff;
}

.blurple {
  color: #7289da;
}

.green {
  color: #4caf50;
}

.orange {
  color: orange;
}
