.button {
  background-color: #2c2f33;
  color: orange;
  font-size: 14px;
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  border-radius: 8px;
  font-family: "Montserrat";
}

.buttondiv {
  text-align: center;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}

h2 {
  font-size: 145%;
  font-family: "Happy Monkey";
  color: #4caf50;
  text-align: center;
}

.avatar {
  display: block;
  position: absolute;
  border: 4px solid #4caf50;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  left: 30%;
  top: 10px;
}

h1 {
  font-family: "Londrina Shadow";
  font-size: 370%; /* 350% */
  color: #00aeff;
  position: absolute;
  left: 42%;
  top: 17px;
}

p, span {
  color: #4caf50;
}

body {
  background-color: #2c2f33;
}

h3, h4 {
  color: #7289da;
  font-family: "Baloo Tamma 2";
  font-size: 190%;
  text-indent: 3px;
}

h4 {
  font-size: 150%;
}

hr {
  border-color: #47D14D;
  background-color: #2bcfff;
  height: 5px;
  border-width: 3.5px;
}

.center {
  text-align: center;
}

.blue {
  color: #00aeff;
}

.blurple {
  color: #7289da;
}

.green {
  color: #4caf50;
}

.orange {
  color: orange;
}

a {
  transition-duration: 0.4s;
  color: #7289da;
}

a:hover {
  color: #4caf50;
  cursor: pointer;
}

p {
  color: orange;
  font-family: "Comfortaa";
  text-indent: 10px;
}

.nocenter {
  text-align: left;
}

.bottom {
  position: absolute;
  bottom: 10px;
  height: 20px;
  width: 100%;
  background-color: #23272A;
  border-radius: 6px;
  text-align: center;
  color: white;
}

img {
  width: 100px;
  height: 100px;
}
