body {
  background-color: #2c2f33;
}

h1 {
  font-family: "Londrina Shadow";
  text-align: center;
  font-size: 300%;
  color: #00aeff;
}

h2 {
  font-size: 145%;
  font-family: "Happy Monkey";
  color: #4caf50;
}

p, li {
  color: orange;
  font-family: "Montserrat";
}

.listheader {
  color: violet;
}

hr {
  background-color: #4caf50;
  border-color: #4caf50;
  height: 2px;
}

a {
  color: #7289da;
}

.h3, h3 {
  font-family: "Happy Monkey";
  color: #7289da;
}

.button {
  background-color: #2c2f33;
  color: orange;
  font-size: 14px;
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  border-radius: 8px;
  font-family: "Montserrat";
}

.buttondiv {
  text-align: center;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}

span {
  color:#00C1FF
}

i {
  color: gold;
}
