/* Normal Text Stuff */

h1 {
  font-family: "Londrina Shadow";
  font-size: 350%;
  color: #00aeff;
  text-align: center;
}

h2 {
  font-size: 145%;
  font-family: "Happy Monkey";
  color: #4caf50;
}

h3, h4 {
  color: #7289da;
  font-family: "Baloo Tamma 2";
  font-size: 190%;
  text-indent: 3px;
}

h4 {
  font-size: 150%;
}

p, li {
  color: orange;
  font-family: "Comfortaa";
  text-indent: 10px;
}

i {
  color: yellow;
}

a {
  transition-duration: 0.4s;
  color: #7289da;
}

a:hover {
  color: #4caf50;
  cursor: pointer;
}

hr {
  border-color: #47D14D;
  background-color: #2bcfff;
  height: 5px;
  border-width: 3.5px;
}

body {
  background-color: #2c2f33;
  visibility: hidden;
}

/* Global Classes (Buttons, Footer, Images) */

.button {
  text-decoration: none;
  padding: 1px 6px;
  background-color: #2c2f33;
  color: orange;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  border-radius: 8px;
  font-family: "Montserrat";
  outline: none;
}

.bottom, .bottom2 {
  /* position: absolute; */
  bottom: 5px;
  width: 100%;
  height: 20px;
  background-color: #23272A;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Baloo Tamma 2";
}

.bottom2 {
  height: 50px;
  display: none;
}

.emoji {
  display: inline;
  width: 25px;
  height: 25px;
  vertical-align: -5px;
}

.cemoji {
  display: inline;
  width: 10px;
  height: 10px;
}

.button:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.imgborder {
  border: 2px solid orange;
  background-color: #4caf50;
  border-radius: 100%;
}

.img {
  width: 100px;
  height: 100px;
  border: 2px solid #4caf50;
  border-radius: 100%;
  transition-duration: 0.4s;
}

.img:hover {
  background-color: #4caf50;
  border: 2px solid orange;
}

/* Color Classes */

.center {
  text-align: center;
}

.blue {
  color: #00aeff;
}

.blurple {
  color: #7289da;
}

.green {
  color: #4caf50;
}

.orange {
  color: orange;
}

/* 404 Bongo Support Image */

.header-masthead {
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.support404 {
  display: block;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: auto;
  border: 2px solid #4caf50;
  border-radius: 100%;
  transition-duration: 0.4s;
}

.support404:hover {
  background-color: #4caf50;
  border: 2px solid orange;
  cursor: default;
}

#support1 {
  display: block;
}

#support2 {
  display: none;
}

/* Media Tags */

@media (max-width: 599px) {
  .bottom, .support404, #support1, #support2 {
    display: none;
  }
  .bottom2 {
    display: block;
  }
  #text-div-404 {
    position: relative;
    left: 5%;
    font-size: 70%;
  }
}
