.center {
  text-align: center;
}

.blue {
  color: #00aeff;
}

.blurple {
  color: #7289da;
}

.green {
  color: #4caf50;
}

.orange {
  color: orange;
}

i {
  color: yellow;
}

h1 {
  font-family: "Londrina Shadow";
  font-size: 350%;
  color: #00aeff;
  text-align: center;
}

body {
  background-color: #2c2f33;
}

h3, h4 {
  color: #7289da;
  font-family: "Baloo Tamma 2";
  font-size: 190%;
  text-indent: 3px;
}

h4 {
  font-size: 150%;
}

hr {
  border-color: #47D14D;
  background-color: #2bcfff;
  height: 5px;
  border-width: 3.5px;
}

h2 {
  font-size: 145%;
  font-family: "Happy Monkey";
  color: #4caf50;
  text-align: center;
}

.button {
  text-decoration: none;
  padding: 1px 6px;
  background-color: #2c2f33;
  color: orange;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  border-radius: 8px;
  font-family: "Montserrat";
}

.buttondiv {
  text-align: center;
}

.button:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.bottom {
  height: 20px;
  width: 100%;
  background-color: #23272A;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding: 5px 5px;
  font-family: "Baloo Tamma 2";
}

a {
  transition-duration: 0.4s;
  color: #7289da;
}

a:hover {
  color: #4caf50;
  cursor: pointer;
}

p {
  color: orange;
  font-family: "Comfortaa";
  text-indent: 10px;
}

#support404 {
  position: absolute;
  left: 990px;
  top: 10px;
  border: 2px solid #4caf50;
  border-radius: 100%;
  transition-duration: 0.4s;
}

#support404:hover {
  background-color: #4caf50;
  border: 2px solid orange;
  cursor: default;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.imgborder {
  border: 2px solid orange;
  background-color: #4caf50;
  border-radius: 100%;
}
