<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/meta-tags.html' %}
    <meta name="twitter:title" content="404 | DuckMasterAl"/>
    <meta property="og:title" content="404 | DuckMasterAl">
    <meta property="og:url" cotnent="https://bduck.xyz/404">
    <title>404 | DuckMasterAl</title>
</head>
<header>
    {% include 'include/navbar.html' %}
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 15px; margin-left: 15px;">
        <img src="/static/support.png" alt="Support Bongo Duck" style="width: 20vw; height: 20vw; max-width: 100px; max-height: 100px; border-radius: 20%;"/>
        <h1 style="text-align: center;">404 | Duck Not Found!</h1>
    </div>
</header>
<body>
    <div style="margin: 0px 10px; text-align: center;">
        <p>This page has either has been moved to a different link or removed from the site.</p>
        <p>If you think this page should exist, please <a href="https://github.com/DuckMasterAl/website/issues/new/choose" target="_blank">open an issue on GitHub.</a></p>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div><button onclick="window.history.back();" class="navbar-links" style="padding-left: 10px; padding-right: 10px; border: none; height: 31px; width: 96px; font-size: 15.5px; vertical-align: -1px;">Go Back</button></div>
        <div style="margin-left: -13px; margin-right: 6px;">|</div>
        <div><a class="navbar-links" href="/" style="padding-left: 10px; padding-right: 10px;">Homepage</a></div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px;">
        <img src="/static/melano.png" alt="Melano's Profile Picture" style="width: 50px; height: 50px; border-radius: 20%; margin: 0px 10px;"/>
        <p style="text-align: center; margin-right: 5px;">Melano wishes you good luck on your quest to finding the right page!</p>
    </div>
</body>
{% include 'include/footer.html' %}
</html>
