<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/meta-tags.html' %}
    <meta name="twitter:title" content="404 | DuckMasterAl"/>
    <meta property="og:title" content="404 | DuckMasterAl">
    <meta property="og:url" cotnent="https://bduck.xyz/404">
    <style>
        .melano-easteregg-highlight {
            color: var(--link-color);
            cursor: pointer;
        }

        .melano-easteregg-highlight:hover {
            color: var(--link-hover-color);
        }
    </style>
    <script>
        function melanoEasterEgg() {
            document.getElementById("melano-easteregg-1").style.display = "none";
            document.getElementById("melano-easteregg-2").style.display = "flex";
        }
    </script>
    <title>404 | DuckMasterAl</title>
</head>
<header>
    {% include 'include/navbar.html' %}
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 15px; margin-left: 15px;">
        <img src="/static/support.png" alt="Support Bongo Duck" style="width: 20vw; height: 20vw; max-width: 100px; max-height: 100px; border-radius: 20%;"/>
        <h1 style="text-align: center;">404 | Duck Not Found!</h1>
    </div>
</header>
<body>
    <div style="margin: 0px 10px; text-align: center;">
        <p>This page has either has been moved to a different link or removed from the site.</p>
        <p>If you think this page should exist, please <a href="https://github.com/DuckMasterAl/website/issues/new/choose" target="_blank">open an issue on GitHub.</a></p>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <div><button onclick="window.history.back();" class="navbar-links" style="padding-left: 10px; padding-right: 10px; border: none; height: 31px; width: 96px; font-size: 15.5px; vertical-align: -1px;">Go Back</button></div>
        <div style="margin-left: -13px; margin-right: 6px;">|</div>
        <div><a class="navbar-links" href="/" style="padding-left: 10px; padding-right: 10px;">Homepage</a></div>
    </div>
    <div id="melano-easteregg-1" style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 10px;">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <img src="/static/melano.png" alt="Melano's Profile Picture" style="width: 50px; height: 50px; border-radius: 20%; margin: 0px 10px; transition: left 0.5s ease-out;"/>
            <p style="text-align: center; margin-right: 5px;"><span style="color: var(--text-color); cursor: pointer;" onclick="melanoEasterEgg();">Melano</span> wishes you good luck on your quest to finding the right page!</p>
        </div>
        <div id="melano-easteregg-2" style="display: none; flex-direction: column; align-items: center;">
            <p style="margin: 10px 5px 10px;">Oh, no! You scared him away!! Let's try to get his attention with some food.</p>
            <p style="margin: 0px 5px;">Should we give Melano a <span class="melano-easteregg-highlight">Banana</span> or a <span class="melano-easteregg-highlight">Strawberry?</span></p>
        </div>
    </div>
</body>
{% include 'include/footer.html' %}
</html>
