<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/meta-tags.html' %}
    <style>
    body > div > div > img {
        width: 150px;
        height: 150px;
    }
    </style>
    <meta name="twitter:title" content="Legal | DuckMasterAl"/>
    <meta property="og:title" content="Legal | DuckMasterAl">
    <meta property="og:url" cotnent="https://bduck.xyz/legal">
    <title>Legal | DuckMasterAl</title>
</head>
<header>
    {% include 'include/navbar.html' %}
    <div style="text-align: center;">
        <h1>DuckMasterAl Legal Information</h1>
        <h4>The following art and the characters in them are owned by <a href="https://bduck.xyz" target="_blank">DuckMasterAl</a> and under the <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" rel="noopener">CC BY-NC-ND 4.0</a>
            <img style="height:22px;margin-left:2px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1">
            <img style="height:22px;margin-left:2px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1">
            <img style="height:22px;margin-left:2px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1">
            <img style="height:22px;margin-left:2px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1">
        </h4>
    </div>
</header>
<body>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
        {% for character in characters %}
        <div style="display: flex; flex-direction: column; align-items: center; background-color: var(--project-card-color); margin: 10px 10px; border-radius: 5%;">
            <img style="margin: 5px 10px; border-radius: 4%;" src="{{character['url']}}" alt="{{character['name']}}"/>
            <h3>{{character['name']}}</h3>
        </div>
        {% endfor %}
    </div>
    <p style="margin-left: 15px;">For exceptions on this license, please email me at <a href="mailto:duck@bduck.xyz">duck@bduck.xyz</a></p>
</body>
{% include 'include/footer.html' %}
</html>
