<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Stylesheets/Javascript -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:wght@300&family=Montserrat:wght@200&family=PT+Sans&family=Open+Sans&display=swap&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz%20%21.%2C%26-%27" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito:wght@300&family=Montserrat:wght@200&family=PT+Sans&family=Open+Sans&display=swap&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz%20%21.%2C%26-%27"></noscript>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/script.js" type="text/javascript"></script>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="../static/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/site.webmanifest">
  <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#99bcff">
  <link rel="shortcut icon" href="../static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="../static/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="../static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#99bcff">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@DuckMasterAl"/>
  <meta name="twitter:title" content="Legal | DuckMasterAl"/>
  <meta name="twitter:creator" content="@DuckMasterAl">
  <meta name="twitter:description" content="Legal Information for DuckMasterAl's artwork."/>
  <!-- Google -->
  <meta name="keywords" content="duckmasteral, bongo, duck, bongo duck, duckmasteral, duckmasterai">
  <meta name="author" content="DuckMasterAl">
  <meta name="description" content="Legal Information for DuckMasterAl's artwork.">
  <meta name="robots" content="all">
  <!-- Discord -->
  <meta property="og:title" content="Legal | DuckMasterAl">
  <meta property="og:description" content="Legal Information for DuckMasterAl's artwork.">
  <meta property="og:image" itemprop="image" content="https://bduck.xyz/static/avatar.png">
  <meta property="og:locale" content="en_US">
  <!-- Misc extra stuff -->
  <link rel="license" href="../license">
  <meta charset="UTF-8">
  <meta http-equiv="content-security-policy" content="upgrade-insecure-requests">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="default-style" content="../static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Legal | DuckMasterAl</title>
  <style>
  span > img {
    width: 100px;
    height: 100px;
  }
  </style>
</head>
<header>
  <h1>DuckMasterAl Legal Information</h1>
  <h2>The following pieces art and the characters in them are owned by DuckMasterAl and under the <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"></a></p></h2>
</header>
<body>
  <span style="display: flex; flex-wrap: wrap;">
     <img src="https://quacky.xyz/files/avatar.png" alt="Quacky Avatar"/>
     <img src="../static/resized-avatar.gif" alt="Bongo Duck"/>
  </span>
   <p>To contact me for exceptions to this license, please email me<!--sse--> at <a href="mailto:duck@bduck.xyz">duck@bduck.xyz</a><!--/sse--></p>
 </body>
 <footer>
   <img src="../static/copyright.svg" width=15 height=15 alt="©️" style="vertical-align: -2px;"/>
   <span>DuckMasterAl <span class="footer_date"></span><a title="View the source code on GitHub!" href="https://github.com/DuckMasterAl/website"><img width=22 height=22 src="../static/github.svg" style="vertical-align: -4px;" alt="GitHub Logo"/></a></span>
 </footer>
</html>
