html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
  visibility: hidden;
  overflow-x: hidden;
}

header {
  text-align: center;
}

h1 {
  color: #fc839d;
  font-family: "Londrina Shadow";
  font-size: 50px;
  letter-spacing: 3px;
}

h2 {
  font-family: "Montserrat";
  color: #69F287;
}

h3, .h3 {
  font-family: "Montserrat";
  color: #EEF36A;
}

p {
  color: white;
  font-family: "Comfortaa";
  padding-left: 10px;
}

ul > a {
  transition-duration: 0.4s;
  font-size: 16px;
  font-family: "Comfortaa";
  color: white;
}

ul > a:hover {
  color: #EEF36A;
}

.spl-image {
  float: right;
}

.on-mobile {
  text-align: center;
  display: none;
}

/* Footer */

.footer-atag {
  color: #FFB91D;
  transition-duration: 0.4s;
}

.footer-atag:hover {
  color: #D4FF1D;
}

.footer-button {
  color: #9FFF59;
  background-color: #3E5779;
  text-decoration: none;
  padding: 1px 6px;
  transition-duration: 0.4s;
  border: 2px solid #9FFF59;
  border-radius: 8px;
  font-size: 14.5px;
  font-family: "Montserrat";
}

.footer-button:hover {
  background-color: #9FFF59;
  color: black;
  cursor: pointer;
}

.cemoji {
  display: inline;
  width: 10px;
  height: 10px;
}

.bottom, .bottom2, .cookie, .cookie2 {
  position: block;
  bottom: 5px;
  width: 100%;
  height: 20px;
  background-color: #23272A;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Baloo Tamma 2";
}

.bottom2, .cookie2 {
  height: auto;
  display: none;
}

.bottom {
  padding-bottom: 30px;
}

.cookie, .cookie2 {
  position: fixed;
  width: 98.9%;
}

.cookie > button, .cookie2 > div > button {
  background-color: #23272A;
}

.cookie > button:hover, .cookie2 > div > button:hover {
  background-color: #9FFF59;
  color: black;
  cursor: pointer;
}

@media (max-width: 337px) {
  .bottom2 {
    padding-bottom: 100px;
  }
}

@media (min-width: 338px) {
  .bottom2 {
    padding-bottom: 60px;
  }
}

@media (max-width: 599px) {
  .bottom, .cookie {
    display: none;
  }
  .bottom2, .cookie2 {
    display: block;
  }
  .spl-image {
    display: none;
  }
  .on-mobile {
    display: block;
  }
}

@media (min-width: 900px) {
  .bottom, .cookie {
    display: block;
  }
  .bottom2, .cookie2 {
    display: none;
}
